{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}"></link>
	<link rel="stylesheet" type="text/js" href="{% static 'js/general.js' %}"></link>
	<link rel="stylesheet" type="text/js" href="{% static 'js/authentication.js' %}"></link>

</head>
<body>
	<div id="authentication">
		<form id="login-form" method="get" action="{% url 'login' %}">
			{{ form }}
			<button id="login-button" onClick="Login();">Login</button>
		</form>
		<button id="register-button" onClick="Register();">Register</button>
	</div>
</body>
</html>